<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Группы</title>
    <div th:replace="fragments :: css"></div>
</head>
<body>
<div th:replace="fragments :: navbar"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <nav class="nav-sidebar">
                <ul class="nav">
                    <li class="center">Избранное</li>
                    <li class="active"><a href="#">Group1 <span class="badge badge-info">4</span></a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li class="nav-divider"></li>
                </ul>
            </nav>
        </div>
        <div class="col-sm-8">
            <ul class="nav nav-tabs text-center">
                <li class="active"><a href="#myGroups" data-toggle="tab">Мои группы</a></li>
                <li><a href="#allGroups" data-toggle="tab">Все группы</a></li>
                <li><a href="#invitations" data-toggle="tab">Приглашения</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="myGroups">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Название</th>
                            <th scope="col">Участников</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><a href="#">Сбертех</a></td>
                            <td><a href="#">5000</a></td>
                        </tr>
                        <tr>
                            <td><a href="#">JUG.RU</a></td>
                            <td><a href="#">10000</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="allGroups">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Название</th>
                            <th scope="col">Участников</th>
                            <th scope="col">Вступить</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Сбертех</td>
                            <td>5000</td>
                            <td><a href="#">+</a></td>
                        </tr>
                        <tr>
                            <td>JUG.RU</td>
                            <td>10000</td>
                            <td><a href="#">+</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="invitations">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Название</th>
                            <th scope="col">Участников</th>
                            <th scope="col">Вступить</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Сбертех</td>
                            <td>5000</td>
                            <td><a href="#">+</a></td>
                        </tr>
                        <tr>
                            <td>JUG.RU</td>
                            <td>10000</td>
                            <td><a href="#">+</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
    <div th:replace="fragments :: js"></div>
</body>
</html>