<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Группы</title>
    <div th:replace="fragments :: css"></div>
</head>
<body>
<div th:replace="fragments :: navbar"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <nav class="nav-sidebar">
                <ul class="nav">
                    <!--<li>Избранное</li>-->
                    <!--<li class="active"><a href="#">Group1 <span class="badge badge-info">4</span></a></li>-->
                    <li class="nav-divider"></li>
                    <li><a th:href="@{/groups/new}">Создать группу</a></li>
                    <li class="nav-divider"></li>
                </ul>
            </nav>
        </div>
        <div class="col-sm-8">
            <ul class="nav nav-tabs text-center" id="groupTabs">
                <li class="active" id="myGroupsItem"><a href="#myGroups" data-toggle="tab">Состою в группах</a></li>
                <li id="allGroupsItem"><a href="#allGroups" data-toggle="tab">Все группы</a></li>
                <li id="createdByMeItem"><a href="#createdByMe" data-toggle="tab">Созданные мной</a></li>
                <!--<li id="invitationsItem"><a href="#invitations" data-toggle="tab">Приглашения</a></li>-->
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="myGroups">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Название</th>
                            <th scope="col">Участников</th>
                            <th scope="col">Выйти</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:id="'mygroup'+${group.id}" th:each="group : ${myGroups}">
                            <td><a th:href="@{/groups/{id}(id=${group.id})}" th:text="${group.groupName}">Name</a></td>
                            <td th:text="${group.numberOfUsers}">Amount</td>
                            <td>
                                <a th:if="not ${#lists.contains(createdByMeGroups, group)}"
                                   th:href="'javascript:removeUserFromGroup(' + ${group.id} + ');'">
                                    <i class="fa fa-times"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="allGroups">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Название</th>
                            <th scope="col">Участников</th>
                            <th scope="col">Вступить</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:id="'allgroup'+${group.id}" th:each="group : ${allGroups}">
                            <td><a th:href="@{/groups/{id}(id=${group.id})}" onclick="return false;"
                                   th:text="${group.groupName}">Name</a>
                            </td>
                            <td th:text="${group.numberOfUsers}">Amount</td>
                            <td>
                                <th:block th:switch="${#lists.contains(myGroups, group)}">
                                    <a th:case="false" th:href="'javascript:addUserToGroup(' + ${group.id} + ');'">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                    <i th:case="true" class="fa fa-check"></i>
                                </th:block>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="createdByMe">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Название</th>
                            <th scope="col">Участников</th>
                            <th scope="col">Удалить группу</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:id="'createdbyme'+${group.id}" th:each="group : ${createdByMeGroups}">
                            <td><a th:href="@{/groups/{id}(id=${group.id})}"
                                   th:text="${group.groupName}">Name</a>
                            </td>
                            <td th:text="${group.numberOfUsers}">Amount</td>
                            <td>
                                <a th:href="'javascript:removeGroup(' + ${group.id} + ');'">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments :: js"></div>
<script th:src="@{/js/chat-group.js}"></script>
</body>
</html>